@model IEnumerable<Member>

@{

    ViewData["Title"] = "Team Members";
}

 @* <partial name="Partials/Sections/_AddMemberForm" />  *@

<section id="members">
    

    <header class="page-header">
        <h2>Team Members</h2>
        <button type="button" data-modal="true" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
    </header>

    <div class="members-list">


        @if(Model !=null)
        {
            @foreach (Member member in Model)
            {
                <div class="card member">

                    <h4 class="name">@member.FirstName @member.LastName</h4>
                    <div class="jobbtitle">@member.JobTitle </div>
                    <div class="email">@member.Email</div>
                    <div class="phone">@member.Phone </div>

                </div>
            }
        }
       
    </div>
</section>
